@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Serif+Display:ital@0;1&family=Nabla&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 245vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.main_div {
  width: 1110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.first_line {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  height: 58px;
}

.orange_box {
  width: 40px;
  height: 40px;
  background-color: #f16718;
}

.tm {
  font-size: 16px;
  color: white;
  padding: 2px;
}

.order_now {
  background-color: #e8eff2;
  width: 175px;
  height: 58px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-transform: uppercase;
  color: #162542;
}

.order_now:hover {
  cursor: pointer;
  background-color: #162542;
  color: white;
}
.order_text {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.second_line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
}

.type {
  width: 445px;
  height: 312px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.type_text {
  font-family: "Barlow", sans-serif;
  color: #162542;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 56px;
}

.improve_text {
  color: #7b8bad;
  font-weight: 500;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  line-height: 26px;
}

.pre_release_div {
  display: flex;
  gap: 45px;
  justify-content: start;
  align-items: center;
  width: 445px;
  padding-top: 20px;
}

.pre {
  width: 175px;
  height: 58px;
  border-radius: 8px;
  background-color: #f16718;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre:hover {
  background-color: #ff9b62;
  cursor: pointer;
}

.pre_white {
  font-size: 16px;
  font-weight: 700;
  color: white;
  font-family: "Barlow", sans-serif;
  line-height: 26px;
  text-transform: uppercase;
}

.release_text {
  font-size: 16px;
  font-weight: 700;
  color: #7b8bad;
  font-family: "Barlow", sans-serif;
  line-height: 26px;
  text-transform: uppercase;
}

.third_line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
}

.photo_div {
  display: flex;
  gap: 30px;
}

.mechanical_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 255px;
  gap: 30px;
}

.mechanical_text1 {
  color: #162542;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
}

.mechanical_text2 {
  color: #7b8bad;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: "Barlow", sans-serif;
}

.box_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 80px;
}

.box4_div {
  width: 255px;
  height: 323px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 40px;
}

.orange_oval {
  width: 65px;
  height: 65px;
  background-color: #f16718;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.last_text {
  font-family: "Barlow", sans-serif;
  color: #162542;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

.last_text1 {
  color: #7b8bad;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  font-family: "Barlow", sans-serif;
}

footer {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #7b8bad;
}

span {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #7b8bad;
}

.decoration {
  background-color: #e8eff2;
  width: 255px;
  height: 240px;
  position: absolute;
  top: 196px;
  left: 1305px;
  border-radius: 20px;
}

.decoration1 {
  background-color: #e8eff2;
  width: 255px;
  height: 236px;
  border-radius: 20px;
  position: absolute;
  top: 910px;
  left: -110px;
}

@media (max-width: 800px) (min-width: 400px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 320vh;
  }

  .main_div {
    width: 750px;
  }

  .first_line {
    width: 700px;
  }

  .second_line {
    width: 750px;
    gap: 150px;
  }

  .first_image {
    width: 475px;
    height: 425px;
    margin-right: -138px;
  }

  .type {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .type_text {
    font-size: 38px;
  }

  .improve_text {
    font-size: 16px;
  }

  .pre {
    width: 140px;
    height: 45px;
  }

  .pre_white {
    font-size: 12px;
  }

  .release_text {
    font-size: 10px;
  }

  .pre_release_div {
    display: flex;
    gap: 10px;
    width: 230px;
    justify-content: start;
    align-items: center;
  }

  .third_line {
    display: flex;
    flex-wrap: wrap;
  }

  .mechanical_div {
    display: flex;
    flex-direction: row;
    width: 720px;
    gap: 110px;
  }

  .box_4 {
    display: flex;
    flex-wrap: wrap;
  }

  .decoration {
    display: none;
  }

  .decoration1 {
    display: none;
  }
}

@media (max-width: 370px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px;
    flex-wrap: wrap;
    height: 420vh;
  }

  .main_div {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
  }

  .first_line {
    width: 688px;
  }

  .orange_box {
    margin-left: 40px;
  }

  .type {
    width: 300px;
    margin-left: 40px;
    margin-right: 20px;
  }

  .second_line {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    align-items: start;
    gap: 50px;
  }

  .order_now {
    margin-right: 390px;
    width: 140px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .first_image {
    width: 290px;
    height: 280px;
    margin-left: 40px;
  }

  .order_text {
    font-size: 15px;
  }

  .photo_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
  }

  .third_line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
  }

  .second_image {
    width: 119px;
    height: 183px;
    margin-left: -30px;
  }

  .third_image {
    width: 190px;
    height: 183px;
  }

  .mechanical_div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-left: 40px;
    margin-right: 20px;
  }

  .mechanical_text1 {
    font-size: 35px;
    text-align: center;
  }

  .mechanical_text2 {
    font-size: 13px;
  }

  .box_4 {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
  }

  .box4_div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  footer {
    width: 350px;
    text-align: center;
  }
}
