@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Serif+Display:ital@0;1&family=Nabla&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  padding-top: 40px;
}

.main_div {
  width: 90%;
  max-width: 1110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.first_line {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: auto;
}

.orange_box {
  width: 40px;
  height: 40px;
  background-color: #f16718;
}

.tm {
  font-size: 16px;
  color: white;
  padding: 2px;
}

.order_now {
  background-color: #e8eff2;
  width: 175px;
  height: 58px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-transform: uppercase;
  color: #162542;
}

.order_now:hover {
  cursor: pointer;
  background-color: #162542;
  color: white;
}

.order_text {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.second_line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
  flex-wrap: wrap;
  position: relative;
}

.type {
  width: 40%;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.type_text {
  font-family: "Barlow", sans-serif;
  color: #162542;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 56px;
}

.improve_text {
  color: #7b8bad;
  font-weight: 500;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  line-height: 26px;
}

.pre_release_div {
  display: flex;
  gap: 45px;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.pre {
  width: 175px;
  height: 58px;
  border-radius: 8px;
  background-color: #f16718;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre:hover {
  background-color: #ff9b62;
  cursor: pointer;
}

.pre_white {
  font-size: 16px;
  font-weight: 700;
  color: white;
  font-family: "Barlow", sans-serif;
  line-height: 26px;
  text-transform: uppercase;
}

.release_text {
  font-size: 16px;
  font-weight: 700;
  color: #7b8bad;
  font-family: "Barlow", sans-serif;
  line-height: 26px;
  text-transform: uppercase;
}

.first_image {
  max-width: 100%;
  height: auto;
  width: 40%;
  min-width: 250px;
}

.third_line {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  position: relative;
}

.photo_div {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.second_image {
  max-width: 100%;
  height: auto;
  width: 30%;
  min-width: 100px;
}

.third_image {
  max-width: 100%;
  height: auto;
  width: 55%;
  min-width: 100px;
}

.mechanical_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  min-width: 200px;
  gap: 30px;
}

.mechanical_text1 {
  color: #162542;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
}

.mechanical_text2 {
  color: #7b8bad;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: "Barlow", sans-serif;
}

.box_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 80px;
  flex-wrap: wrap;
}

.box4_div {
  width: 20%;
  min-width: 200px;
  height: 400px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 40px;
}

.orange_oval {
  width: 65px;
  height: 65px;
  background-color: #f16718;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.last_text {
  font-family: "Barlow", sans-serif;
  color: #162542;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

.last_text1 {
  color: #7b8bad;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  font-family: "Barlow", sans-serif;
}

footer {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #7b8bad;
}

span {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #7b8bad;
}

.decoration {
  background-color: #e8eff2;
  width: 20%;
  min-width: 150px;
  height: 240px;
  position: absolute;
  top: 0px;
  right: -18%;
  border-radius: 20px;
}

.decoration1 {
  background-color: #e8eff2;
  width: 20%;
  min-width: 150px;
  height: 236px;
  border-radius: 20px;
  position: absolute;
  top: 192px;
  left: -18%;
}

@media (max-width: 1100px) {
  .main_div {
    width: 95%;
  }

  .second_line {
    gap: 25px;
  }

  .type {
    width: 45%;
  }

  .first_image {
    width: 50%;
  }

  .orange_oval {
    align-self: flex-start;
  }

  .second_image {
    width: 25%;
  }

  .third_image {
    width: 50%;
  }

  .photo_div {
    display: flex;
    justify-content: center;
  }

  .mechanical_div {
    width: 80%;
    flex-direction: row;
    display: flex;
    padding-top: 25px;
  }

  .box_4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box4_div {
    display: flex;
    align-items: start;
    justify-content: start;
    height: 400px;
  }

  .decoration,
  .decoration1 {
    display: none;
  }
}

@media (max-width: 350px) {
  body {
    padding-top: 40px;
  }

  .main_div {
    width: 95%;
  }

  .last_text {
    align-self: center;
  }

  .first_line {
    gap: 20px;
  }

  .type_text {
    font-size: 30px;
  }

  .order_now {
    width: 140px;
    height: 45px;
  }

  .second_line {
    flex-direction: column;
    gap: 50px;
  }

  .type {
    width: 90%;
    text-align: center;
  }

  .first_image {
    width: 100%;
    margin-right: -10%;
  }

  .second_image {
    width: 20%;
    margin-left: -10%;
  }

  .third_image {
    width: 60%;
  }

  .third_line {
    flex-direction: column;
  }

  .photo_div {
    justify-content: center;
  }

  .mechanical_div {
    width: 90%;
    text-align: center;
    flex-direction: column;
    display: flex;
  }

  .box_4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box4_div {
    width: 90%;
    text-align: center;
  }

  .orange_oval {
    align-self: center;
  }

  footer {
    text-align: center;
  }
}

@media (max-width: 570px) {
  .mechanical_div {
    display: flex;
    flex-direction: column;
  }
}
